@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  font-family: 'Radio Canada', sans-serif;

}



main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}


form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}